@charset "UTF-8";
/* -------------------------------------------- */
/* リセット*/
/* -------------------------------------------- */
*{
  box-sizing: border-box;
}

@function rem($px){
  @return ($px/16) *1rem;
}

body,h1,h2,h3,h4,h5,p,ul,li,ol,dl,dt,figure,input,textarea {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  list-style: none;
  outline:0;
}

a { 
  color: inherit;
  text-decoration: none;
}

img{
  max-width:100%;
  vertical-align: bottom;
}

/* -------------------------------------------- */
/* 共通部分 */
/* -------------------------------------------- */
body {
  font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
  font-size: rem(14);
  color: #333;
}

.inner{
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  background-color: rgba(241,92,168,0.2);
  padding: 0 16px;
}

.section-heading{
  font-size: rem(18);
  margin-bottom: 30px;
}

@media (min-width:766px){

  .flex{
    display: flex;
    justify-content: space-between;
  }
}




header,main,section,footer, article, aside, div, ul, li, h1,h2,h3{
  background-color: rgba(0,200,100,0.1);
  // border: 1px solid rgba(0,0,0,0.4);
}



/* -------------------------------------------- */
/* header */
/* -------------------------------------------- */
/* サイトロゴ */
.site-logo{
  padding: 20px 16px;
  line-height: 1;
}

.top-link{
  display: inline-block;
}

.site-logo-image{
  width: 100%;
  height: 100%;
}

/* headerナビ */
.header-nav{
  background-color: #333;
  color: #fff;
}

.header-nav-list{
  overflow-x: scroll;
  padding: 10px 16px;
}

.header-nav-list{
  display: flex;
}

.header-nav-item{
  margin-right: 60px;
}

@media (min-width:766px){
  .header-nav-list{
    overflow-x: hidden;
  }

  .header-nav-link{
    transition: all .4s;
    &:hover{
      opacity: .6;
    }
  }
}


@media (min-width:766px){
  
}



/* -------------------------------------------- */
/*  */
/* -------------------------------------------- */



/* -------------------------------------------- */
/* footer */
/* -------------------------------------------- */
footer{
  background-color: #F7F7F7;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-wrapper{
  padding-top: 40px;
  padding-bottom: 90px;
}

.about{
  margin-bottom: 50px;
}

.about-text{
  margin-bottom: 20px;
}

.about-list-item{
  margin-bottom: 5px;
  display: flex;
  align-items: center;

  &::before{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 0 6px 10.4px;
    border-color: transparent transparent transparent #333333;
    display: block;
    margin-right: 4px;
  }
}

.menu{
  margin-bottom: 30px;
}

.footer-nav-item{
  border-bottom: 1px solid #777777;
  padding: 15px;
  
  &:first-child{
    border-top: 1px solid #777777;
  }
}

.copy{
  text-align: center;
}

@media (min-width:766px){
  .footer-wrapper{
    padding-bottom: 60px;
  }

  .about{
    width: 30%;
  }

  .about-text{
    margin-bottom: 40px;
  }

  .menu{
    width: 30%;
  }

  .twitter{
    width: 30%;
  }
}