@charset "UTF-8";
/* -------------------------------------------- */
/* リセット*/
/* -------------------------------------------- */
*{
  box-sizing: border-box;
}

@function rem($px){
  @return ($px/16) *1rem;
}

body,h1,h2,h3,h4,h5,p,ul,li,ol,dl,dt,figure,input,textarea {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  list-style: none;
  outline:0;
}

a { 
  color: inherit;
  text-decoration: none;
}

img{
  max-width:100%;
  vertical-align: bottom;
}

/* -------------------------------------------- */
/* 共通部分 */
/* -------------------------------------------- */
body {
  font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
  font-size: rem(14);
  color: #333;
}

.inner{
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  // background-color: rgba(241,92,168,0.2);
  padding: 0 16px;
}

.section-heading{
  font-size: rem(18);
  margin-bottom: 30px;
}

/* Read more */
.more-link{
  position: relative;
  display: block;
  width: 85px;
  margin: 0 auto;
  &::after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #333;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &:hover{
    color: red;
  }
}

/* 中央配置 */
.tac{
  text-align: center;
}

@media (min-width:766px){
  .flex{
    display: flex;
    justify-content: space-between;
  }

  article{
    width: 65%;
  }

  aside{
    width: 33%;
    padding: 20px;
  }
}




header,main,section,footer, article, aside, div, ul, li, h1,h2,h3{
  // background-color: rgba(0,200,100,0.1);
  // border: 1px solid rgba(0,0,0,0.4);
}



/* -------------------------------------------- */
/* header */
/* -------------------------------------------- */
.header{
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

/* サイトロゴ */
.site-logo{
  padding: 20px 16px;
  line-height: 1;
}

.top-link{
  display: inline-block;
}

.site-logo-image{
  width: 100%;
  height: 100%;
}

/* headerナビ */
.header-nav{
  background-color: #333;
  color: #fff;
}

.header-nav-list{
  overflow-x: scroll;
  padding: 10px 16px;
}

.header-nav-list{
  display: flex;
}

.header-nav-item{
  margin-right: 60px;
}

@media (min-width:766px){
  .header-nav-list{
    overflow-x: hidden;
  }

  .header-nav-link{
    transition: all .4s;
    &:hover{
      opacity: .6;
    }
  }
}


/* -------------------------------------------- */
/* pickup */
/* -------------------------------------------- */
.pickup{
  padding-top: 150px;
}

.pickup-heading{
  font-size: rem(16);
  margin: 10px 0 15px;
}

.pickup-wrapper{
  // border: 1px solid #000;
  margin-bottom: 30px;
}

@media (min-width:766px){
  .pickup-wrapper{
    width: 32%;
    margin-bottom: 65px;
  }
}

/* -------------------------------------------- */
/* main記事 */
/* -------------------------------------------- */
.main-wrapper{
  margin-bottom: 80px;
}

/* 記事タイトル */
.main-heading{
  font-size: rem(24);
  margin-bottom: 15px;
}

/* 日付とカテゴリ */
.main-data-wrapper{
  margin-bottom: 10px;
}

/* 日付 */
.main-data{
  margin-right: 20px;
}

/* サムネイル画像 */
.main-image{
  margin-bottom: 7px;
}

/* 記事抜粋 */
.main-text{
  padding: 10px 40px 30px;
}

@media (min-width:766px){
  /* 記事抜粋 */
  .main-text{
    font-size: rem(16);
  }
}

/* -------------------------------------------- */
/* aside */
/* -------------------------------------------- */
/* asideのセクション */
.aside-section{
  margin-bottom: 60px;
  &:last-child{
    margin-bottom: 120px;
  }
}

/* プロフィール画像 */
.profile-image{
  width: 130px;
  height: 130px;
  margin: 0 auto 30px;
  img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* ランキング記事 */
.ranking-wrapper{
  margin-bottom: 30px;
}

/* 月間アーカイブのリスト */
.archive-list{

}

.archive-list-item{
  border-bottom: 1px solid #333;
  padding: 20px;

  &:first-child{
    border-top: 1px solid #333;
  }
}


@media (min-width:766px){
  /* asideのセクション */
  .aside-section:last-child{
    margin-bottom: 140px;
  }
}


/* -------------------------------------------- */
/*  */
/* -------------------------------------------- */

@media (min-width:766px){
  
}


/* -------------------------------------------- */
/* footer */
/* -------------------------------------------- */
footer{
  background-color: #F7F7F7;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-wrapper{
  padding-top: 40px;
  padding-bottom: 90px;
}

.about{
  margin-bottom: 50px;
}

.about-text{
  margin-bottom: 20px;
}

.about-list-item{
  margin-bottom: 5px;
  display: flex;
  align-items: center;

  &::before{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 0 6px 10.4px;
    border-color: transparent transparent transparent #333333;
    display: block;
    margin-right: 4px;
  }
}

.menu{
  margin-bottom: 30px;
}

.footer-nav-item{
  border-bottom: 1px solid #777777;
  padding: 15px;
  
  &:first-child{
    border-top: 1px solid #777777;
  }
}

.copy{
  text-align: center;
  font-size: rem(12);
}

@media (min-width:766px){
  .footer-wrapper{
    padding-bottom: 60px;
  }

  .about{
    width: 30%;
  }

  .menu{
    width: 30%;
  }

  .twitter{
    width: 30%;
  }
}